<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>掲示板システム</title>
  </head>
  <body>
    <h1>掲示板システム作成課題</h1>

    <!-- 記事投稿フォーム -->
    <form th:action="@{/insertArticle}" method="post" th:object="${articleForm}">
      <div>
        <p th:errors="*{name}" style="color: red;"></p>
        <label for="articleName">投稿者名：</label>
        <br />
        <input type="text" id="articleName" th:field="*{name}">
      </div>
      <div>
        <p th:errors="*{content}" style="color: red;"></p>
        <label for="articleContent">投稿内容：</label>
        <br />
        <textarea id="articleContent" th:field="*{content}"></textarea>
      </div>
      <div>
        <input type="submit" value="投稿" />
      </div>
    </form>
    <!-- /記事投稿フォーム -->

    <!-- 記事一覧 -->
    <div th:each="article, articleStatus : ${articleList}">
      <hr />
      <h2>投稿<span th:text="${articleStatus.index} + 1"></span></h2>
      <p>投稿者名：<span th:text="${article.name}"></span></p>
      <p>投稿内容：</p>
      <p th:text="${article.content}"></p>
      <!-- 記事削除フォーム -->
      <formd
        th:action="@{/deleteArticle}"
        method="post"
      >
        <input type="hidden" name="id" th:value="${article.id}" />
        <input type="submit" value="削除" />
        <!-- /記事削除フォーム -->
      </form>
      <!-- コメント一覧 -->
      <div th:each="comment, commentStatus : ${article.commentList}">
        <h3>コメント<span th:text="${commentStatus.index} + 1"></span></h3>
        <p>投稿者名：<span th:text="${comment.name}"></span></p>
        <p>コメント内容：</p>
        <p th:text="${comment.content}"></p>
      </div>
      <!-- コメント削除フォーム -->
      <form
        th:if="${article.commentList.size > 0}"
        th:action="@{/deleteComment}"
        method="post"
      >
        <input type="hidden" name="articleId" th:value="${article.id}" />
        <input type="submit" value="コメント削除" />
        <!-- /コメント削除フォーム -->
      </form>
      <br />
      <!-- コメント投稿フォーム -->
      <form th:action="@{/insertComment}" method="post" th:object="${commentForm}">
        <input type="hidden" name="articleId" th:value="${article.id}" />
        <div>
          <p th:if="*{articleId} == ${article.id}" th:errors="*{name}" style="color: red;"></p>
          <label for="articleName">名前：</label>
          <br />
          <input type="text" id="articleName" th:field="*{name}">
        </div>
        <div>
          <p th:if="*{articleId} == ${article.id}" th:errors="*{content}" style="color: red;"></p>
          <label for="articleContent">コメント内容：</label>
          <br />
          <textarea id="articleContent" th:field="*{content}"></textarea>
        </div>
        <div>
          <input type="submit" value="コメント投稿" />
        </div>
      </form>
      <!-- /コメント投稿フォーム -->
    </div>
    <!-- /記事一覧 -->
  </body>
</html>
